*,
body {
  /* background-color: #c7c8cc; */
  font-family: "Lato", sans-serif;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

/* SCROLL DOWN */
.scroll {
  --scroll-border: #6b7280;
  --scroll-border-hover: #000;

  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
}

.scroll::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 9px;
  width: 10px;
  height: 10px;
  border-left: 2px solid var(--scroll-border);
  border-bottom: 2px solid var(--scroll-border);
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}

.scroll,
.scroll::before {
  transition: all 0.3s ease;
}

.scroll:hover::before {
  border-left-color: var(--scroll-border-hover);
  border-bottom-color: var(--scroll-border-hover);
}

.dark .scroll {
  --scroll-border: #6b7280;
  --scroll-border-hover: #fff;
}

@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes roll-in-blurred-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-720deg);
    transform: translateY(-800px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-720deg);
    transform: translateY(-800px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.roll-in-blurred-top {
  -webkit-animation: roll-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) 3s
    both;
  animation: roll-in-blurred-top 0.6s cubic-bezier(0.23, 1, 0.32, 1) 3s both;
}
